header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: table;
}

img {
    margin-left: 20px;
    display: table-cell;
    vertical-align: middle;
    float: left;
}